body {
 font-family:"trebuchet ms",sans-serif;
 font-size:80%;
 }
form {
 background-color:#ffffff;
 padding:5px;
 width:350px;
 }
fieldset {
 padding:1px;
 margin-bottom:10px;
 }
legend {
 color:#a0522d;
 font-weight:bold
 }
label {
 margin-top:20px;
 display:block;
 }
label.inline {
 display:inline
 }
textarea {
 border:1px solid black;
 background-color:#d4dde6;
 }
input[type=radio] {
 margin-right:50px;
 background-color:transparent;
 border:none;
 }
select, option {
 background-color:#A6BEDE;
 }


